app-navigation {
  position: relative;
  display: block;
}
app-navigation:before {
  content: "Offices";
  position: absolute;
  z-index: 1;
  font-size: 3rem;
  color: white;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
