article {
  background: white;
  padding: 1rem;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
  /* min-width: 200px; */
  /*max-width: 310px;*/
  min-height: 204px;
}
@media (max-width: 550px) {
  article {
    max-width: none;
  }
}

.img {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

article .office {
  text-align: center;
}

article .office .naslov {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* editMode*/

.buttons {
  text-align:center;
  margin: 1rem;
  background: #00bcd4;
  border: 2px solid #01a4bb;
  padding: 1rem;
}
.btn {
  padding: 6px 12px;
  cursor: pointer;
  border: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid yellow;
  background: transparent;
  width: auto;
  margin-right: 5px;
  transition: all .3s;
  color: white;
}

.btn:hover {
  background: darkyellow;
  border-top: 2px solid yellow;
  color: black;
}

input {
  font: normal 1rem Arial, Helvetica, sans-serif;
  padding: 0;
  border: 0;
  width: 100%;
  text-align: center;
  background: lightgray;
  margin-bottom: 1rem;
}

.naslov {
  display: block;
  padding-bottom: 0.5rem;
  color: #334455;
}

@media all and (max-width: 650px) {
  .buttons {
    display: none;
  }
}


/*======================
Check Boxes Styles
========================*/

input[type='checkbox'] {
    z-index: -1;
    display: none;
}

input[type='checkbox']+label {
    width: 2rem;
    height: 2rem;
    display: block;
    margin: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;

    border: 2px solid yellow;
    background: transparent url(http://katheermizal.info/works/working-with-checkbox/assets/images/tick-icon.png) no-repeat;
    background-position: 50% 0;
    background-size: 2rem 4rem;
    transition: all 0.4s ease;
}


input[type='checkbox']:hover+label {
  background-color: rgba(255, 0, 0, 0.3);
}

input[type='checkbox']:checked+label {
  background-position: 50% -2rem;
  background-color: #01707f;
}

input[type='checkbox']+label:before {
  content: "Delete";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
