
.img {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.img img {
  border-radius: 50%;
}

.letter {
  width: 70px;
  height: 70px;
  background: lightgray;
  border-radius: 50%;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
