app-navigation {
  position: relative;
  /*display: block;*/
  flex: 1;
}

app-navigation:before {
  content: "Offices";
  position: absolute;
  z-index: 1;
  font-size: 3rem;
  color: white;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

app-edit-mode {
  flex: 0 0 auto;
}

@media all and (max-width: 650px) {
  app-navigation:before {
    font-size: 2rem;
  }
  app-edit-mode {
    flex: 0 0 auto;
  }
}

@media all and (max-width: 650px) {
  app-edit-mode {
    display: none;
  }
}
