article {
  display: flex;
  align-items: center;
}

app-avatar {
  flex: 0 0 4rem;
}

.office {
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #01a4bb;
  flex: 1;
  color: #334455;
}

.office .naslov {
  display: block;
  color: white;
}
